.lyrics-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5.5rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.lyrics {
    width: fit-content;
    height: fit-content;
    margin-block: 5vh;
}

.lyric-line {
    width: fit-content;
    margin-block: 0.5rem;
    padding: 0.15rem 0.4rem;
}

.lyric-line > span {
    white-space: pre-line;
}

.synced-lyric > span {
    color: #828282;
}

div.lyric-line.current-line > span,
.plain-lyric > span {
    color: rgb(240, 240, 240);
}

div.lyric-line.synced-lyric:hover {
    background-color: #2e2e2e;
    border-radius: 8px;
    cursor: pointer;
}

div.lyric-line.synced-lyric:not(.current-line):hover span {
    color: #dadada;
}

.lyrics-unavailable > span {
    color: (215, 215, 215);
    font-style: italic;
}

.lyric-translation {
    font-style: italic;
}
