:root {
    --playback-control-background-color: #000000;
    --playback-control-text-color: #ffffff;
    --playback-control-current-artist-color: #c0c0c0;
}

footer.app-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--playback-control-background-color);
    position: fixed;
    width: 100vw;
    height: 5.2rem;
    bottom: 0;
}

.playback-seeker {
    position: fixed;
    top: -0.8rem;
}

.playback-control {
    display: flex;
    position: fixed;
    bottom: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    color: var(--playback-control-text-color);
}

.current-track {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: fit-content;
    margin-right: auto;
    justify-self: start;
}

.current-track > img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
}

.current-track-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.2rem;
    max-width: 25vw;
    text-wrap: nowrap;
    overflow: hidden;
}

.current-track-name {
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.current-track-artist {
    font-size: 0.9rem;
    color: var(--playback-control-current-artist-color);
}

.playback-control-buttons {
    background-color: var(--playback-control-background-color);
    display: flex;
    flex: 0 1 auto;
    width: fit-content;
    position: absolute;
    align-items: center;
    right: 50%;
    transform: translateX(50%);
}

.playback-control-buttons > button {
    color: var(--playback-control-text-color);
    background-color: var(--playback-control-background-color);
    border: none;
    cursor: pointer;
    height: fit-content;
}

button.playback-control-toggle-play {
    margin: 0 2rem;
}

button.playback-control-toggle-play > svg {
    font-size: 3.5rem;
}

.playback-control-buttons > button:active {
    opacity: 0.7;
}

button.playback-control-change-track > svg {
    font-size: 2.5rem;
}

.toggle-translate {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.toggle-translate > svg {
    opacity: 0.9;
}
